*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: black;
}

a {
  text-decoration: none;
}

/* Navigation bar styling */

.nav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
}

.nav__list {
  color: white;
  list-style: none;
  padding-left: 0;
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #d2d0db;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__logo {
  fill: #fff;
  margin-left: 30px;
}

.nav__brick {
  fill: #fff;
  cursor: pointer;
  margin-right: 30px;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  overflow: auto;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 2.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

/* Blocks */

.block {
  background-color: #000;
  border-radius: 30px;
  margin: 3rem;
  max-width: 1140px;
  align-self: center;
  display: grid;
  overflow: hidden;
}

.block__body {
  padding-left: 2rem;
}

.block__image {
  position: relative;
}

.block__image > img {
  width: 100%;
}

.block__heading,
.block__content {
  color: #fff;
  padding: 1rem;
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
