/* General Styling */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Colour palette */

:root {
  --colour-background: #00a896;
  --colour-primary: #05668d;
  --colour-secondary: #028090;
  --colour-text: #f0f3bd;
  --colour-accent: #02c39a;
}

/* Element-specific styling */

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  background-color: var(--colour-background);
  color: var(--colour-text);
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
  font-weight: 700;
  color: var(--colour-primary);
}

/* Lists */

.list {
  color: var(--colour-text);
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Navigation bar styling */

.nav {
  align-items: center;
  background-color: var(--colour-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}

.nav__logo {
  width: 75px;
  height: auto;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 100%;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid rgba(235, 243, 216, 0.3);
}

.nav__item > a {
  color: var(--colour-text);
}

.nav__logo {
  margin-left: 30px;
}

.nav__brick {
  fill: var(--colour-text);
  cursor: pointer;
  margin-right: 30px;
  transition: box-shadow 0.3s;
  transform: translateY(-10px);
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  overflow: auto;
  opacity: 1;
}

.collapsible--expanded .nav__brick {
  box-shadow: #fff 0 0 10px;
}

@media screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    font-size: 2.6rem;
    max-height: 100%;
    opacity: 1;
    width: auto;
    transform: translateY(-10px);
  }

  .nav__item {
    border: 0;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

/* Blocks */

.block {
  align-self: center;
  background-color: var(--colour-primary);
  border-radius: 30px;
  display: grid;
  margin: 3rem;
  overflow: hidden;
}

.block__body {
  background-color: var(--colour-primary);
  padding: 0 0 2rem 2rem;
}

.block__image {
  height: 400px;
}

.block__image > img {
  width: 100%;
}

.block__heading,
.block__content {
  color: var(--colour-text);
  padding: 1rem;
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Forms */

.form__block {
  padding: 3rem;
  background-color: var(--colour-primary);
  display: flex;
  flex-direction: column;
}

.form__fillable {
  background-color: var(--colour-secondary);
  border-radius: 5px;
  border: 1px solid var(--colour-accent);
  color: var(--colour-text);
  display: block;
  margin-bottom: 2rem;
  overflow: hidden;
  width: 100%;
}

.form__pair {
  width: 100%;
}

.form__fillable::placeholder {
  color: var(--colour-text);
  opacity: 0.5;
}

.form__element:focus {
  outline: none;
  box-shadow: 0 0 5px 2px var(--colour-text);
}

.form__title,
.form__description {
  text-align: center;
  color: var(--colour-accent-1);
}

.form__title {
  margin-bottom: 0;
}

.form__description {
  margin-top: 0;
}

.form__label {
  color: var(--colour-text);
}

.button {
  align-self: center;
  background-color: var(--colour-accent);
  border-radius: 10px;
  border: 0;
  color: var(--colour-text);
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 700;
  margin: 1rem 0;
  padding: 2rem 3rem;
  white-space: nowrap;
}

/* Control the width of stretchy elements */

.width__controller {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .width__controller {
    margin: 10px;
  }
}

/* Highlighting hovered objects */

.form__element:hover,
.button:hover {
  box-shadow: 0 0 5px 2px var(--colour-text);
}

.nav__item > a:hover {
  text-shadow: #fff 0 0 10px;
  transition: all 0.3s;
}

/* About section elements */

.info {
  margin: 5%;
}

.about__image-container {
  display: none;
}

.info .info__body {
  margin-bottom: 5rem;
}

.info .button {
  margin-top: 5rem;
}

@media screen and (min-width: 768px) {
  .info {
    width: 45%;
  }

  .about__image-container {
    display: block;
    position: absolute;
    width: 45%;
    height: 90%;
    bottom: 0;
    right: 0;
  }

  .about__image,
  .circle {
    position: absolute;
    right: 0;
  }

  .about__image {
    height: 90%;
    bottom: 0;
  }

  .social__icon {
    fill: var(--colour-primary);
  }

  .circle {
    z-index: -10;
    height: 70%;
    transform: translateX(0%) translateY(40%);
  }

  .about__image-container:hover .circle {
    transform: translateX(0) translateY(25%);
    height: 80%;
    transition: all 0.3s;
  }
}

@media screen and (min-width: 1048px) {
  .about__image-container {
    height: 90%;
  }
}

/* Styling for Resume Page */

#resume__downloader {
  display: flex;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

/* Styling for Project Page */

.grid__item {
  height: 200px;
  background-color: var(--colour-text);
  font-weight: 700;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.grid--2x2 {
  margin: auto;
  width: 95vw;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-template-areas:
    "one two"
    "three four";
  justify-items: stretch;
}

.one {
  grid-area: one;
  grid-row: span 1/1 1/2;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
  font-size: 16px;
}
