/* General Styling */

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Colour palette */

:root {
  --colour-background: #00a896;
  --colour-primary: #05668d;
  --colour-secondary: #028090;
  --colour-text: #f0f3bd;
  --colour-accent: #02c39a;
}

/* Dark theme colours */

.darkmode {
  --colour-background: #2d6a4f;
  --colour-primary: #081c15;
  --colour-secondary: #1b4332;
  --colour-text: #d8f3dc;
  --colour-accent: #52b788;
}

/* Element-specific styling */

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
  z-index: 1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  background-color: var(--colour-background);
  color: var(--colour-text);
  z-index: 1;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
  font-weight: 700;
  color: var(--colour-primary);
}

strong {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: var(--colour-accent);
}

/* Lists */

.list {
  color: var(--colour-text);
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Navigation bar styling */

.nav {
  align-items: center;
  background-color: var(--colour-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}

.nav__logo {
  width: 75px;
  height: auto;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 100%;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid rgba(235, 243, 216, 0.3);
}

.nav__item > a {
  color: var(--colour-text);
}

.nav__logo {
  margin-left: 30px;
}

.nav__brick {
  fill: var(--colour-text);
  cursor: pointer;
  margin-right: 30px;
  transition: box-shadow 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  overflow: auto;
  opacity: 1;
}

.collapsible--expanded .nav__brick {
  box-shadow: #fff 0 0 10px;
}

@media screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    font-size: 2.6rem;
    max-height: 100%;
    opacity: 1;
    width: auto;
    transform: translateY(-10px);
  }

  .nav__item {
    border: 0;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

/* Blocks */

.block {
  align-self: center;
  background-color: var(--colour-primary);
  border-radius: 30px;
  display: grid;
  margin: 3rem 5rem;
  overflow: hidden;
}

.block__body {
  background-color: var(--colour-primary);
  padding: 0 0 2rem 2rem;
}

.block__image {
  height: 400px;
}

.block__image > img {
  width: 100%;
}

.block__heading {
  margin-bottom: 0;
}

.block__sub-heading {
  margin-top: 0;
}

.block__heading,
.block__sub-heading,
.block__content {
  color: var(--colour-text);
  padding-right: 1rem;
}

.headshot__heading {
  padding: 0 3rem;
  font-size: 4rem;
}

.headshot__title {
  font-size: 3rem;
  padding: 0 3rem;
}

.headshot__image {
  width: 100%;
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Forms */

.form__block {
  padding: 3rem;
  background-color: var(--colour-primary);
  display: flex;
  flex-direction: column;
}

.form__fillable {
  background-color: var(--colour-secondary);
  border-radius: 5px;
  border: 1px solid var(--colour-accent);
  color: var(--colour-text);
  display: block;
  margin-bottom: 2rem;
  overflow: hidden;
  width: 100%;
}

.form__pair {
  width: 100%;
}

.form__fillable::placeholder {
  color: var(--colour-text);
  opacity: 0.5;
}

.form__element:focus {
  outline: none;
  box-shadow: 0 0 5px 2px var(--colour-text);
}

.form__title,
.form__description {
  text-align: center;
  color: var(--colour-accent-1);
}

.form__title {
  margin-bottom: 0;
}

.form__description {
  margin-top: 0;
}

.form__label {
  color: var(--colour-text);
}

.button {
  align-self: center;
  background-color: var(--colour-accent);
  border-radius: 10px;
  border: 0;
  color: var(--colour-text);
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 700;
  margin: 1rem 0;
  padding: 2rem 3rem;
  white-space: nowrap;
}

/* Control the width of stretchy elements */

.width__controller {
  max-width: 1140px;
  margin: 3rem 5rem;
}

@media screen and (min-width: 1160px) {
  .width__controller {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {

  .width__controller {
    margin: 2rem;
  }
}

/* Highlighting hovered objects */

.form__element:hover,
.button:hover {
  box-shadow: 0 0 5px 2px var(--colour-text);
}

.nav__item > a:hover {
  text-shadow: #fff 0 0 10px;
  transition: all 0.3s;
}

/* About section elements */

.info {
  margin: 5%;
}

.about__image-container {
  display: none;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
}

.info .info__body {
  margin-bottom: 5rem;
}

.info .button {
  margin-top: 5rem;
}

@media screen and (min-width: 768px) {
  .info {
    width: 45%;
  }

  .about__image-container {
    display: block;
    width: 45%;
    height: 90%;
    bottom: 0;
    right: 0;
  }

  .about__image,
  .circle {
    position: absolute;
    right: 0;
  }

  .about__image {
    height: 90%;
    bottom: 0;
  }

  .social__icon {
    fill: var(--colour-primary);
    margin-left: 3rem;
  }

  .circle {
    z-index: -10;
    height: 70%;
    transform: translateX(0%) translateY(40%);
  }

  .about__image-container:hover .circle {
    transform: translateX(0) translateY(25%);
    height: 80%;
    transition: all 0.3s;
  }
}

@media screen and (min-width: 1048px) {
  .about__image-container {
    height: 90%;
  }
}

/* Styling for Project Page */

.grid__item {
  align-items: center;
  background-color: var(--colour-text);
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  height: 200px;
  justify-content: center;
  padding: 10px;
  z-index: 10;
}

.grid--2x2 {
  margin: auto;
  width: 95%;
  gap: 10px;
  grid-template-areas:
  "one" 
  "two"
  "three" 
  "four";
  justify-items: stretch;
  z-index: 0;
}

.grid__text {
  color: var(--colour-primary);
  margin: 0;
  padding: 0;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

@media screen and (min-width: 768px) {
  .grid--2x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "one two"
    "three four";
  }
}

.transparent {
  opacity: 0;
  transition: ease-out opacity 3s;
}

/*SVG backgrounds generated with svgbackgrounds.com*/
.background1 {
  background-image: url(/images/endless-constellation.svg);
  transition: background-image 1s;
}

.background2 {
  background-image: url(/images/hollowed-boxes.svg);
  transition: background-image 1s;
}

.background3 {
  background-image: url(/images/subtle-prism.svg);
  transition: background-image 1s;
}

.background4 {
  background-image: url(/images/protruding-squares.svg);
  transition: background-image 1s;;
}

/* Styling for Contact Me Page */

.contact__page .form__block {
  border-radius: 30px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

/* Styling for Resume Page */

#resume__downloader {
  display: flex;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.reference__button {
  position: relative;
  padding: 2% 10%;
  margin: 30%;
  margin-top: 7rem;
}

.info__blurb {
  margin-bottom: 7rem;
}

@media screen and (max-width: 1000px) {
  .grid--resume {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Light mode and Dark mode icon styles */

.lightmode__toggle {
  margin: 0 2rem;
  transform: translateY(-5px);
  cursor: pointer;
}