<form class="form__block" action="">
  <h2 class="form__title">Want to Reach Out?</h2>
  <p class="form__description">Fill out the form below to send me a mesage!</p>
  <label class="form__label" for="name">What is your name?</label>
  <input class="form__element" id="name" type="text" placeholder="Your Name" />

  <label class="form__label" for="email">What is your email?</label>
  <input
    class="form__element"
    id="email"
    type="email"
    placeholder="Your Email"
  />

  <label class="form__label" for="infoText">What can I help with?</label>
  <textarea
    class="form__element"
    id="infoText"
    rows="5"
    placeholder="Your message"
  ></textarea>

  <button class="form__button">Submit</button>
</form>
